@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vindo à nossa Política de Privacidade. Este projeto é um sistema de suporte ao cliente desenvolvido como parte de uma atividade acadêmica. Ele visa demonstrar a implementação de uma aplicação web que facilita a gestão de tickets de suporte e o recebimento de feedbacks dos usuários.</p>

<h2>Coleta de Dados Pessoais</h2>
<p>Coletamos dados pessoais, como nome, endereço de e-mail e outras informações fornecidas pelos usuários, para:</p>
<ul>
    <li>Gerenciar e responder eficientemente às solicitações de suporte;</li>
    <li>Personalizar a experiência do usuário dentro do sistema;</li>
    <li>Manter uma comunicação relevante sobre o status dos tickets e atualizações do sistema.</li>
</ul>

<h2>Uso de Cookies</h2>
<p>Utilizamos cookies para armazenar dados não pessoais que ajudam a melhorar a usabilidade do sistema. Esses dados incluem informações sobre o navegador e padrões de uso, coletados automaticamente para análise estatística e otimização contínua do serviço.</p>

<h2>Segurança dos Dados</h2>
<p>A segurança das informações dos usuários é uma prioridade fundamental. Implementamos diversas medidas de proteção para evitar acessos não autorizados. No entanto, é importante ressaltar que nenhum sistema é totalmente seguro, e os usuários devem estar cientes dos riscos associados ao uso da internet.</p>

<h2>Direitos dos Usuários</h2>
<p>Os usuários têm o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Para exercer esses direitos, entre em contato conosco através do e-mail disponível na nossa página de contato.</p>

<h2>Atualizações da Política</h2>
<p>Esta política de privacidade poderá ser atualizada periodicamente. Quaisquer alterações serão comunicadas nesta página. Recomendamos que os usuários revisem esta política regularmente para se manterem informados sobre o tratamento de seus dados.</p>

<h2>Integrantes do Projeto</h2>
<ul style="list-style-type: none; padding: 0;">
    <li><strong>Kaíque Freire dos Santos</strong></li>
    <li><strong>Beatriz Silvestre Alves</strong></li>
    <li><strong>José Carlos de Moraes Sousa</strong></li>
    <li><strong>João Victor Antunes Monteiro Braga</strong></li>
    <li><strong>Luiz Felipe do Nascimento Ferreira</strong></li>
    <li><strong>Patrick de Souza Moura</strong></li>
</ul>
