@model CustomerSupportSystem.DTOs.TicketCommentDto
@{
    ViewData["Title"] = "Edit Comment";
}

<div class="text-center">
    <h1 class="display-4">Edit Ticket</h1>
</div>

<form asp-controller="TicketComment" asp-action="Edit" method="post">

    <div class="form-group">
        <label for="comment-text" class="form-label">Comment</label>
        <input type="text" asp-for="CommentText" class="form-control" placeholder="Entry the comment">
        @Html.ValidationMessageFor(x => x.CommentText) <!-- Error message -->
    </div>
    <br/>

    <!-- Update and Remove button -->
    <button type="submit" asp-route-ticketId="@Model.TicketId" class="btn btn-primary btn-block">Update</button>
    <a class="btn btn-secondary btn-block" asp-controller="Ticket" asp-action="Index" role="button">Return</a>
</form>