@model CustomerSupportSystem.DTOs.LoginDto
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Tela de Login";
}

<br/>

<!-- Alerts -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["SuccessMessage"]
    </div>
}
<br/>
<br/>

<form asp-controller="Login" asp-action="Enter">

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email">
        <div id="loginHelp" class="form-text">Never share your email with anyone</div>
        @Html.ValidationMessageFor(x => x.Email) <!-- If camp is null show error message -->
    </div>

    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
        @Html.ValidationMessageFor(x => x.Password) <!-- If camp is null show error message -->
    </div>

    <!-- Forgot button -->
    <p class="mb-4 text-sm mx-auto">
        Forgot your password?
        <a asp-controller="Login" asp-action="ResetPassword" class="text-primary text-gradient font-weight-bold">Reset my password</a>
    </p>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Submit</button>

</form>