@model CustomerSupportSystem.DTOs.ResetPasswordDto
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Reset Password";
}

<!-- Alerts -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["ErrorMessage"]
    </div>
}

<br/>
<br/>

<div class="text-center">
    <h1 class="display-4">Reset Password</h1>
</div>

<form asp-controller="Login" asp-action="SendPasswordResetLink" method="post">

    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="email"/>
        <div id="loginHelp" class="form-text">Never share your login with anyone</div>
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <br/>

    <!-- Reset and Return Button -->
    <button type="button" class="btn btn-primary btn-block">Reset</button>
    <a class="btn btn-secondary btn-block" role="button" asp-controller="Login" asp-action="Index">Return</a>

</form>